.description {
    font-size: 30px;
    color: cornflowerblue;
    display: block;
}

.paragraph {
    font-size: 24px;
    color: black;
    display: block;
}

.link {
    font-size: 32px;
    color: lightsalmon;
    display: block;
}