.head{
    background-color: lightblue;
}

.description {
    font-size: 30px;
    color: cornflowerblue;
    display: block;
}

.paragraph {
    font-size: 24px;
    color: black;
    display: block;
}

.link {
    font-size: 32px;
    color: lightsalmon;
    display: block;
    text-align: center;
}

.kimchi{
    border: 3px black;
    background: red;
    margin: 50px;
    padding: 50px;
}

.pasta{
    border: 3px black;
    background: antiquewhite;
    margin: 50px;
    padding: 50px;
}

.avocado{
    border: 3px black;
    background: green;
    margin: 50px;
    padding: 50px;
}